* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

#reroll {
    width:98%;
    padding:1%;
    font-size:24px;
    text-align: center;
}

#statrollers {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
}

.statbox {
    width: 48%;
    padding: 1%;
}

button {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: antiquewhite;
    margin-right: 10px;
    width: 125px;
}

button:hover {
    cursor: normal;
    background-color: rgba(250, 235, 215, 0.8);
}

input {
    padding: 8px;
}

#charactersliders {
    width: 49%;
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
}

.statslider {
    width: 0;
    background-color: aquamarine;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.sliderwrap {
    z-index: -100;
    position: relative;
    background-color: #ddd;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
}

#bestchoiceskill {
    width: 49%;
}

#classpick {
    font-size: 28px;
    font-weight: bold;
}